@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Petit+Formal+Script&family=Belanosima:wght@400;600;700&family=Imbue:opsz,wght@10..100,100..900&display=swap&family=Inter:wght@100;200;300;400;500&family=Megrim&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Pinyon+Script&family=Poiret+One&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/menu.css";
@import "../styles/scrollAnimation.css";
@import "../styles/transition.css";
@import "../styles/transition.module.css";

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: PoiretOne;
}